name: Fast Deploy to ACA

on:
  push:
    branches: [ Feature/containerization ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

# This step creates the file that Docker Buildx will 'mount'
      - name: Create build.env
        run: |
          cat <<EOF > build.env
          ${{ secrets.ENV_FILE_CONTENT }}
          EOF

      # This step pushes that file into the Docker build context securely
      - name: Build and Push to ACR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.CONTAINER_REGISTRY }}/map-bench:${{ github.sha }}
          secrets: |
            "env_file=./build.env"

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          acrName: ${{ secrets.ACR_NAME }}
          containerAppName: map-bench-app
          resourceGroup: ${{ secrets.AZURE_MC_RESOURCE_GROUP }}
          imageToDeploy: ${{ secrets.CONTAINER_REGISTRY }}/map-bench:${{ github.sha }}
