name: Map Bench CI/CD

on:
  push:
    branches: [ Feature/containerization ]

jobs:
  build-and-tag:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.bump_version.outputs.new_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump Version
        id: bump_version
        run: |
          git fetch --tags
          LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "0.0.0")
          IFS='.' read -r -a parts <<< "$LATEST_TAG"
          major="${parts[0]}"; minor="${parts[1]}"; patch="${parts[2]}"
          while : ; do
            patch=$((patch + 1))
            CANDIDATE_TAG="$major.$minor.$patch"
            if git rev-parse "$CANDIDATE_TAG" >/dev/null 2>&1 || git ls-remote --exit-code --tags origin "$CANDIDATE_TAG" >/dev/null 2>&1; then
              continue
            else
              NEW_TAG="$CANDIDATE_TAG"
              break
            fi
          done
          echo "new_tag=$NEW_TAG" >> $GITHUB_OUTPUT

      - name: Create build.env
        run: |
          cat <<EOF > build.env
          ${{ secrets.ENV_FILE_CONTENT }}
          EOF

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to JFrog for pushing the final image
      - name: Login to JFrog
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.CONTAINER_REGISTRY }}
          username: ${{ secrets.JFROG_USER }}
          password: ${{ secrets.JFROG_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.CONTAINER_REGISTRY }}/mapcore-docker/map-bench:${{ steps.bump_version.outputs.new_tag }}
            ${{ secrets.CONTAINER_REGISTRY }}/mapcore-docker/map-bench:latest          secrets: |
            "env_file=./build.env"
            "jfrog_token=${{ secrets.JFROG_TOKEN }}"

  deploy-app:
    needs: build-and-tag
    uses: ./.github/workflows/deploy-logic.yml
    with:
      environment_name: 'Production'
      version_tag: ${{ needs.build-and-tag.outputs.new_tag }}
      container_app_name: 'map-bench-app'
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_MC_RESOURCE_GROUP }}
